/*This sets the font for the page */
body {
  font-family: 'Open sans', sans-serif;
}
/*formats fonts */
h1 {
  font-size: 120px;
  text-align: center;
}
h2 {
  font-size: 60px;
  text-align: center;
}
h3 {
  font-size: 40px;
  text-align: center;
}

/*formats product*/
.product {
  flex: 1;
  font-size: 40px;
}
.product img {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

/*formats table*/

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
th {
  font-size:40px;
  padding:30px 30px 30px 30px;
  border-bottom:1px solid #e0e0e0;
}
tbody tr td {
  font-size:40px;
  padding:30px 30px 30px 30px;
  border-bottom:1px solid #e0e0e0;
}
tbody tr:nth-child(2n) {
  background:#e6e6e6;
}
tbody tr:last-child td {
  border-bottom:none;
}
